<!doctype html>
<html lang="en">

  <%= render 'articles/head' %>

  <body>
    <%= render 'articles/nav' %>
    <div class='container'>
        <br/>
        <h1>Welcome to this test blogsite!</h1>
        <table class='table table-borderless'>
            <thead>
                <tr>
                    <!--<th scope="col">ID</th>-->
                    <th></th>
                    <th scope="col" class="w-25">Title</th>
                    <th scope="col" class="w-75">Body</th>
                </tr>
            </thead>

            <tbody>
                <% @articles.each do |article| %>
                    <tr>
                        <!--<td><%#= article.id %></td>-->
                        <td class="align-middle"><%= render 'articles/votes' %></td>
                        <td class="align-middle"><%= article.name %></td>
                        <td class="align-middle"><%= article.body[0..160] %></td>
                        <td class="align-middle"><%= link_to 'View', articles_show_path(article), method: :get %></td>
                        <td class="align-middle"><%= link_to 'Edit', articles_edit_path(article), method: :get %></td>
                        <td class="align-middle"><%= link_to 'Delete', articles_delete_path(article), method: :delete, data: { confirm: "Are you sure?" } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to 'New Blog', articles_new_path, class: 'btn btn-primary'%>
        <%# <a href='/articles/new' class='btn btn-primary'>New Article</a> %>
    </div>

    <%= render 'articles/footer' %>
    
  </body>
</html>





