<!doctype html>
<html lang="en">

  <%= render 'articles/head' %>

  <body>
    

    <%= render 'articles/nav' %>
    <div class='container'>
        <br/>
        <h1><%= @article.name %></h1>
        <p><%= @article.body %></p>

        <%= link_to 'Home', '/', class: 'btn btn-primary'%>
        <%= link_to 'Edit', articles_edit_path(@article), class: 'btn btn-primary'%>
        <%= link_to 'Delete', articles_delete_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    </div>

    <%= render 'articles/footer' %>
    
  </body>
</html>





